
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body1 {
background: white;
font-family: fantasy;
}
h1 {
color: red;
text-align: top;
}
.main {
border: solid 2px brown;
font-size: 28px;
color: maroon;
width: 600px;
margin: 150px;
}
.searchTop {
width: 100%;
display: flex;
position: relative;
}
.searchBar {
width: 100%;
border: 3px solid navy;
height: 20px;
border-radius: 5px 0 0 5px;
border-right: none;
padding: 5px;
outline: none;
color: green;
}
.searchBar:focus {
color: red;
}
.searchButton {
width: 40px;
height: 36px;
font-size: 20px;
text-align: center;
color: red;
border: 1px solid gray;
border-radius: 0 5px 5px 0;
cursor: pointer;
background: white;
border-radius: 0 5px 5px 0;
cursor: pointer;
}
.topDiv {
width: 30%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
left: 50%;
transform: translate(-50%, -50%);
}